<footer>
<p id="legal" class="center-block text-center">
  <small>&copy; <span class="copyright-year"></span>
  A class project by <a target="_blank" href="https://www.catdelaura.com/">Cat DeLaura.</a>
</p>
</footer>
