{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block content %}
<article class="container text-center">
  <div class="p-4 pageTop">
    <h2 class="pageTitle">Cheap & Free Things To Do in Austin</h2>
    <p>There are plenty of things to do in Austin that won't break the bank.</p>
  </div>
</article>

<div class="list-group list-group-flush">
  {% for toDo in austin.activities %}
    <div class="list-group-item col-lg-5 col-md-6 offset-lg-4 offset-md-3 border-bottom">
      <h5 class="mb-1 mt-3">{{ toDo.activity }}</h5>

      <ul style="list-style-type:square">
        <li class="mb-1">When: {{ toDo.date_time }}</li>
        <li class="mb-4">Where: {{ toDo.address }}</li>
      </ul>
      
      <a class="btn btn-dark float-right" href="{{ toDo.url }}" target="_blank">Learn More</a>
    </div>
  {% endfor %}
</div>

{% endblock %}