{% extends '_templates/base.njk' %}

{% block content %}
<header> 
  <div class="text-center col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <h2 class="introText p-4">The capital of Texas has much to offer. Historically known for its BBQ and live music, the city is expanding and evolving. Make sure you visit a foodtruck and swim in Barton Springs, the locals' favorite summer escape from the heat.</h2>
  </div>
</header>

<div class="container" id="indexPage">
  <a href="landmarks.html"><img src="../img/mount-bonnell.jpg" alt="..." style="height: 100%; width: 100%;"></a>
  <div class="text-block indexIntro">
    <h5>Explore Austin<h5>
    <p>Discover historic buildings, natural wonders, and more.<p>
  </div>
</div> 

<div class="container" id="indexPage">
  <a href="activities.html"><img src="../img/lady-bird-lake.jpg" alt="..." style="height: 100%; width: 100%"></a>
  <div class="text-block indexIntro">
    <h5>Play in Austin<h5>
    <p>There's something to do at any time of day in the city.<p>
  </div>
</div> 

<div class="container"id="indexPage">
  <a href="restaurants.html"><img src="../img/franklin-bbq.jpg" alt="..." style="height: 100%; width: 100%"></a>
  <div class="text-block indexIntro">
    <h5>Eat in Austin<h5>
    <p>BBQ, tacos, sushi, Italian. Austin has something for everyone.<p>
  </div>
</div> 


{% endblock %}