{% extends '_templates/base.njk' %}

{% block content %}
<div class="container">
  <div class="col-sm-12 col-md-10 col-lg-8 offset-md-2 offset-lg-2">
    <p>Content goes here: some gibberish talking about Austin. Probably goes on for a while talking about how great this city is, how much there is to do and explore. all the live music and the parks and the swimming holes, and lordy! let's not forget the tacos. We've got to dedicate at least a sentence to those Austin Tacos.</p>
  </div>
</div>



{% endblock %}