{% extends '_templates/base.njk' %}

{% block content %}
<header> 
  <div class="text-center col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <p>Content goes here: some gibberish talking about Austin. Probably goes on for a while talking about how great this city is, how much there is to do and explore. all the live music and the parks and the swimming holes, and lordy! let's not forget the tacos. We've got to dedicate at least a sentence to those Austin Tacos.</p>
  </div>
</header>

<div class="container" id="indexPage">
  <a href="landmarks.html"><img src="../img/mount-bonnell.jpg" alt="..." style="height: 100%; width: 100%;"></a>
  <div class="text-block indexIntro">
    <h5>Explore Austin<h5>
    <p>From historic buildings to natural wonders, Austin has a lot to offer.<p>
  </div>
</div> 

<div class="container" id="indexPage">
  <a href="activities.html"><img src="../img/lady-bird-lake.jpg" alt="..." style="height: 100%; width: 100%"></a>
  <div class="text-block indexIntro">
    <h5>Play in Austin<h5>
    <p>There's something to do at any time of day in the city.<p>
  </div>
</div> 

<div class="container"id="indexPage">
  <a href="restaurants.html"><img src="../img/franklin-bbq.jpg" alt="..." style="height: 100%; width: 100%"></a>
  <div class="text-block indexIntro">
    <h5>Eat in Austin<h5>
    <p>BBQ, tacos, sushi, Italian. Austin has something for everyone.<p>
  </div>
</div> 


{% endblock %}