{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block content %}

<article class="container offset-4">
  <h2>Landmarks of Austin</h2>
  <p>Intro text here.</p>

  {% for landmark in austin.landmarks %}
  <div class="container landmark">
    <h2>{{ landmark.name }}</h2>
    <p>{{ landmark.activities }}</p>
    <a class="btn btn-light mb-4" href="landmark/{{landmark.slug}}.html" target="_blank" role="button">Learn More</a>
  </div>
  {% endfor %}

</article>
{% endblock %}