{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block content %}
<article class="container">

  <div class="mb-5 p-4 text-center pageTop">
    <h2 class="pageTitle">Restaurants in Austin</h2>
    <p>From pizza to tacos to BBQ to sushi, there's a little something for everyone in Austin. Austin was once known prodominantly for its BBQ, but these days an influx of talented and impressive chefs has created a food renaissance across the city.</p>
  </div>
  
  <div class="card-columns">
    {% for restaurant in restaurants.restaurants %}
      <div class="card">
        <img class="card-img-top img-fluid" src="img/{{ restaurant.image }}" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="card-text">{{ restaurant.address }}</p>
          <p class="card-text"><small class="text-muted">{{ restaurant.category }}</small></p>
        </div>
      </div>
    {% endfor %}
  </div>

</article>
{% endblock %}