{% extends '_templates/base.njk' %}


{% set relative_path = "../" %}

{% block content %}
<article class="container">
  <h2>Restaurants of Austin</h2>
  <p>Intro text here.</p>
  
<div class="row">
  {% for restaurant in restaurants.restaurants %}
  <div class="card mb-3 mr-4 ml-2" style="max-width: 500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../img/{{ restaurant.image }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body border-bottom">
          <h5 class="card-title">{{ restaurant.name }}
            <small class="float-right text-muted">{{ restaurant.category}}</small>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ restaurant.address }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  <!---
  <div class="row">
    {% for restaurant in restaurants.restaurants %}
    <div clas="col-sm-6 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="../img/{{ restaurant.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ restaurant.name }}</h5>
          <p class="mb-1">{{ restaurant.category }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Where: {{ restaurant.address }}</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">website</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>-->

</article>
{% endblock %}