
aside {
  font-style: bold;
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 25px 40px 50px;
}

.landmarkInfo {
  border-color: black;
  border-style: double;
  border-width: thick;
  text-align: right;
}

#multiCollapseInfo {
  border-color: black;
  border-style: double;
  border-width: thin;
}