.jumbotron.banner {
  background: url(../img/cmc-austin-dawn.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.jumbotron {
  margin-bottom: 30px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: cornsilk;
}